---
title: "Movie Recommendation System"
description: "A Worked Example of Collaborative Filtering "
date: "2024-02-14"
image: "fastai.png"
categories: [AI, Engineering, FastAI]
format:
    html:
        code-fold: true
jupyter: python3
toc: true
# draft: true
---

# Creating a Recommendation System
This is a worked example of creating a recommendation system using collaborative filtering applied to user ratings of movies.

## 1. Loading MovieLens data

We use data on user ratings of movies sourced from [MovieLens](https://grouplens.org/datasets/movielens/).

In [7]:
from pathlib import Path

import pandas as pd 


DATA_DIR = Path("/Users/gurpreetjohl/workspace/python/ml-practice/ml-practice/datasets/ml-latest-small")

Load the `ratings` data which we will use for this task:

In [8]:
ratings = pd.read_csv(DATA_DIR / 'ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

The users and movies are encoded as integers. 

For reference, we can load the `movies` data to see what each `movieId` corresponds to:

In [10]:
movies = pd.read_csv(DATA_DIR / 'movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy